{
  "extends": ["eslint:recommended", "react-app"],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "import/no-commonjs": "off",
    "no-prototype-builtins": "off",
    "no-extra-semi": "error",
    "no-irregular-whitespace": "error",
    "no-empty": "error",
    "no-useless-escape": "off",
    "no-extra-boolean-cast": "warn",
    "no-useless-catch": "off",
    "no-empty-pattern": "error",
    "no-unreachable": "error",
    "no-else-return": "warn",
    "no-var": "error",
    "prefer-const": "warn",
    "no-empty-function": "error",
    "eqeqeq": "error",
    "no-process-exit": "off",
    "dot-notation": "warn",
    "no-lonely-if": "warn",
    "no-control-regex": "off",
    "arrow-body-style": "off",
    "no-loop-func": "error",
    "no-async-promise-executor": "off",
    "object-shorthand": "error",
    "no-case-declarations": "off",
    "no-unneeded-ternary": "off",
    "array-callback-return":"warn",
    "no-unused-vars": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "curly": "error",
    "no-warning-comments": "warn",
    "semi": ["error", "always"],
    "eol-last": ["error", "always"],
    "strict": "error",
    "spaced-comment": "warn",
    "comma-spacing": "warn",
    "indent": ["warn", 2],
    "no-const-assign": "error",
    "no-constant-condition": "error",
    "no-dupe-class-members": "error",
    "no-dupe-else-if": "error",
    "no-duplicate-case": "error",
    "no-ex-assign": "error",
    "no-fallthrough": "error",
    "no-import-assign": "error",
    "no-inner-declarations": "error",
    "no-obj-calls": "error",
    "no-self-assign": "error",
    "no-undef": "error",
    "no-unexpected-multiline": "warn",
    "no-unsafe-negation": "error",
    "use-isnan": "error",
    "valid-typeof": "error",
    "camelcase": "error",
    "complexity": ["error", 10],
    "no-shadow-restricted-names": "error",
    "yoda": "error"
  },
  "env": {
    "node": true
  }
}