.logo h1 {
    color: #50802c;
    font-weight: 400;
    padding: 10px 0;
    display: inline-block;
    margin-left: 10px;
}

.logo {
    color: #50802c;
}

.activeLink {
    border-bottom: 3px solid #aec400;
    color: #aec400;
}

.desktopHeader {
    background-color: var(--first-color);
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.desktopHeader img {
    width: 100px;
    margin: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu a {
    letter-spacing: 0.05vw;
    font-weight: bold;
    color: #ffff;
    margin: 0 10px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.menu a:hover {
    color: #aec400;
}

.signLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.signLinks a {
    margin-left: 10px;
    color: #ffff;
    padding: 10px 15px;
}

.signLinks :last-child {
    border-radius: 10px;
    background-color: #aec400;
}

.activeSignLinks {
    background-color: var(--first-color);
    border: none;
    color: white !important;
}

/* @media screen and (min-width: 768px) {
    .desktopHeader {
        position: relative;
        
    }

    
} */

@media screen and (min-width: 1024px) {
    .desktopHeader {
        position: static;
        display: flex;
        padding: 0 2% 0 5px;
    }

    .menu {
        margin: 0;
        width: unset;
        align-items: unset;
    }

    .menu a {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    .desktopHeader img {
        display: block;

    }
}

