.logo {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-family: "Merriweather", serif;
    margin-bottom: 0px;
}

.firstPart {
    color: #ffffff;
}

.secondPart {
    color: #aec400;
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 30px;
    }
}