
.modalWrap {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow-x: hidden;
    background-color: rgba(30, 43, 30, .75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 125ms 350ms ease;
}

.visible {
    pointer-events: auto;
    opacity: 1;
    transition: all 150ms ease-in-out;
}

.modal {
    overflow-x: hidden;
    position: relative;
    display: block;
    width: 50%;
    min-height: 150px;
    min-width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px 3rem 20px 20px;
    background-color: #fff;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(130, 220, 49, 0.25);
    opacity: 0;
    transition: opacity 125ms 125ms ease, transform 150ms 125ms ease;
    transform: scale(0);

    font-size: 1.2em;
}

.visible .modal {
    opacity: 1;
    transform: scale(1);
    transition: opacity 125ms 250ms ease, transform 175ms 250ms ease;
}

.closeBtn {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.75rem;
    border-radius: 50%;
    color: #4F802C;
    border-color: #4F802C;
    background-color: transparent;
    opacity: 0.5;
    display: block;
    padding: 0;
    font-size: 3em;
    line-height: 0;
}

.closeBtn:hover {
    opacity: 1;

}
