.mobileHeader {

    position: relative;
    width: 100%;
    z-index: 1000;
}

.mobileHeader img {
    height: 60px;
    width: 90px;
    margin: 10px;
}

.mapLink {
    font-size: 18px;
    letter-spacing: 0.05vw;
    font-weight: bold;
    color: #ffff;
    margin: 0 10px;
    text-align: center;
    text-transform: uppercase;
}

.links {
    display: none;
}

.topNav {
    height: 110px;
    background-color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.burgerBtn {
    background: none;
    border: 0;
    font-size: 25px;
    padding: 15px 20px;
    cursor: pointer;
}

.burgerBtn {
    color: #aec400;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.ekbTrees {
    font-family: "Merriweather", serif !important;
    color: white;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    line-height: 40px;
    padding-left: 7px;
}

.logo {
    color: #ffffff;
    flex-shrink: 0;
}

@media screen and (min-width: 1024px) {
    .mobileHeader {
        display: none;
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .links {
        display: block;
    }
}