.mapButtonContainer {
    height: 40px;
    position: absolute;
    z-index: 999;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    margin: 2em;
}

.mapButtonSecondary {
    background-color: #757575;
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 30px;
}

.mapButtonSecondary:hover{
    background-color: #a9a9a9;
}

.mapButtonSecondary:disabled{
    background-color: #b9c5b0;
}

.mapButtonSuccess {
    background-color: #50802c;
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 30px;
}

.mapButtonSuccess:hover{
    background-color: #6bc22a;
}

.mapButtonSuccess:disabled{
    background-color: #b9c5b0;
}
