.footerWrapper {
    display: flex;
    justify-content: flex-end;
    background-color: var(--first-color);
    color: white;
    font-family: "Segou UI", sans-serif;
}


.info {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-right: auto;
}

.slogan {
    margin-bottom: 10px;
    font-size: 40px;
}

.slogan span {
    font-family: "Segou UI", sans-serif;
    margin-bottom: 10px;
    font-size: 40px;
}

.slogan :last-child {
    color: #aec400;
}

.company, .support, .email {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 50px;
}

.company :first-child {
    margin-bottom: 10px;
}

.support :first-child {
    margin-bottom: 10px;

}

.email input[type=text] {
    padding-left: 24px;
}

.images {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.image {
    width: 25px;
    height: 25px;
}

.email {
    display: flex;
    flex-direction: column;
}

.email input {
    background-color: var(--email-input);
    height: 50px;
    outline: none;
    border: 0;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}

.footerMenu {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}

.footerMenu a {
    letter-spacing: 0.05vw;
    font-weight: bold;
    color: rgb(0, 92, 92);
    margin: 0px 10px;
    font-size: 12px;
    text-align: center;
}

.logo .smallHeader {
    font-family: "Merriweather", serif;
    font-size: 20px;
    display: block;
    text-align: center;
}

.logo .bigHeader {
    font-family: "Merriweather", serif;
    font-size: 40px;
    line-height: 30px;
}

.line {
    background-color: #ADBEA5;
    height: 1px;
    width: 75%;
    margin: 0 auto;
}

.footerWrapper .social {
    display: flex;
    width: 25%;
    margin: 30px auto;
    justify-content: space-between;
}

.footerWrapper .social img {
    height: auto;
    width: 30px;
}

.privacyTerms {
    display: flex;
    justify-content: center;
}

.underLine {
    padding: 30px 20%;
}


@media screen and (min-width: 1024px) {
    .footerMenu a {
        font-size: 14px;
    }

    /* .underLine{
        padding: 30px 30%;
    } */
}

@media screen and (min-width: 2000px) {
    .footerWrapper {
        padding: 0 10%;
    }
}