.sharedHeader {
    position: relative;
    background-color: var(--second-color);
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    margin: 0;
    align-items: center;
}

.sharedHeader > div {
    margin-right: auto;
    margin-top: 5px;
}

.sharedHeader > select {
    margin: 10px 5px 10px 145px;
}

.selectLanguage {
    margin: 10px 5px 10px 145px;
    outline: 0;
    border: 0;
    background-color: var(--second-color);
    color: #ffffff;
    font-weight: bold;
}

.selectLanguage {
    margin: 10px 5px 10px 0px;
}

.russianFlag,
.links {
    margin: 10px 5px;
}

.sharedHeader a {
    margin: 10px 5px;
}

.sharedHeader img {
    width: 50px;
    height: 50px;
}

.switch {
    position: relative;
    width: 60px;
    height: 34px;
    margin-right: auto;
    margin-top: .5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider{
    background: #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

@media screen and (max-width: 480px) {
    .sharedHeader {
        padding: 0 10px;
        height: 60px;
    }

    .selectLanguage {
        margin: 0 0 0 10px;
    }

    .russianFlag {
        width: 50px;
        height: 40px;
        margin-left: 5px;
    }

    .select {
        font-size: 15px;
    }

    .links {
        margin: 0;
    }
}


@media screen and (min-width: 1024px) {
    .sharedHeader {
        position: static;
    }
}
